{% extends "base.html" %}
{% block title %}備品追加{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12">
    <p>適当で大丈夫です。</p>
    <form action="{% url 'system:addEquipment' %}" method="GET">
      <div class="row">
        <div class="input-field col s12">
          <label for="keyword">検索:</label>
          <input type="text" name="keyword" value="{{ keyword }}">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="author">著者:</label>
          <input type="text" name="author" value="{{ author }}">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="publisher">出版社:</label>
          <input type="text" name="publisher" value="{{ publisher }}">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="isbn">isbn:</label>
          <input type="text" name="isbn" value="{{ isbn }}">
        </div>
      </div>
      <input class="btn right" type="submit" value="検索">
    </form>
  </div>
</div>
{% for equipment in items %}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ equipment.equipment_name }}</span>
        <p>著者: {{ equipment.author }}</p>
        <p>出版社: {{ equipment.company }}</p>
        <p>ISBN: {{ equipment.isbn }}</p>
      </div>
      <div class="card-action">
        <a>
          <form action="{% url 'system:addEquipment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="equipmentIsbn" value="{{ equipment.isbn }}">
            <a href="{{ equipment.product_url }}">詳細</a>
            <input class="btn right" type="submit" value="備品登録">
          </form>
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
