<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include "head.html" %}
    <title>{% block title %}XMLPro備品管理システム{% endblock %}</title>
    {% block moreStyle %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="nav-wrapper">
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/system">Top</a></li>
          <li><a href="/system/mypage">Mypage</a></li>
          <li><a href="/system/log">Log</a></li>
          <li><a href="/system/request">Request</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
          <li><a href="/system">Top</a></li>
          <li><a href="/system/mypage">Mypage</a></li>
          <li><a href="/system/log">Log</a></li>
          <li><a href="/system/request">Request</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
      {% block header %}{% endblock %}
    </header>
    <main class="container">
    {% block content %}Content Body{% endblock %}
    </main>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
    <!-- Place your content here -->
    <!-- SCRIPTS -->
    <!-- Latest compiled and minified CSS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    {% block moreScript %}
    <script>$(".button-collapse").sideNav();</script>
    {% endblock %}
  </body>
</html>
