<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include "head.html" %}
    <title>{% block title %}XMLPro備品管理システム{% endblock %}</title>
    {% block moreStyle %}{% endblock %}
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">備品管理システム</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="btn indigo lighten-1" href="{% url 'system:user_register' %}">新規ユーザー登録</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <form class="col s12 m6 offset-m3" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        {% if form.errors %}
        <p class="red-text">ユーザー名またはパスワードが違うっぽい?</p>
        {% endif %}
        <div class="row">
          <div class="input-field col s12">
            <div class="right red-text"> {{ register_forms.usename.errors }} </div>
            <label for="username">ユーザー名:</label>
            <input type="text" name="username" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="password">パスワード:</label>
            <input type="password" name="password" required>
          </div>
        </div>
        <a class="btn indigo lighten-1 hide-on-med-and-up" href="{% url 'system:user_register' %}">新規ユーザー登録</a>
        <input class="btn right indigo lighten-1" type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
