{% extends "base.html" %}

{% block title %}備品の歴史{% endblock %}
{% block moreStyle %}
<style type="text/css">
</style>
{% endblock %}
  {% block pagetitle %}備品の歴史{% endblock %}
{% block content %}
  <form method="POST" action="/system/log/">
    {% csrf_token %}
    <input name="keywords" type="text" placeholder="search" value="{{ keywords }}">
    <input type="submit">
  </form><br>
  {% if log_list %}
  <!-- main content -->

  <table>
    <tr>
      <th>借りた人</th>
      <th>借りた物</th>
      <th>借りた日</th>
      <th>返した日</th>
    </tr>
    {% for log in log_list %}
    <tr>
      <td>{{ log.user }}</td>
      <td>{{ log.equipment}}</td>
      <td>{{ log.borrowed_date }}</td>
      {% if log.return_date %}
        <td>{{ log.return_date }}</td>
      {% else %}
        <td>貸出中</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>no log_list</p>
  {% endif %}
  <!-- end main content -->

{% endblock %}
