{% extends "base.html" %}

{% block title %}備品の歴史{% endblock %}
{% block content %}
<div class="row">
  <form class="col s12" method="POST" action="/system/log/">
    <div class="row">
      {% csrf_token %}
      <div class="col s8 m10">
        <div class="row">
          <div class="input-field col s12">
            <label for="keywords">キーワード:</label>
            <input type="text" name="keywords" value="{{ keywords }}">
          </div>
        </div>
      </div>
      <div class="col s4 m2">
        <input class="waves-effect waves-light btn" type="submit" value="検索">
      </div>
    </div>
  </form>
</div>
<div class="row">
  {% if log_list %}
  <!-- main content -->
  <table class="bordered">
    <tr>
      <th>借りた人</th>
      <th>借りた物</th>
      <th>借りた日</th>
      <th>返した日</th>
    </tr>
    {% for log in log_list %}
    <tr>
      <td>{{ log.user }}</td>
      <td>{{ log.equipment}}</td>
      <td>{{ log.borrowed_date }}</td>
      {% if log.return_date %}
      <td>{{ log.return_date }}</td>
      {% else %}
      <td>貸出中</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>no log_list</p>
  {% endif %}
</div>
<!-- end main content -->
{% endblock %}
