<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include "head.html" %}
    <title>閲覧権限がありません</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">備品管理システム</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="btn indigo lighten-1" href="/logout/">ログアウト</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <h1>閲覧権限がありません</h1>
      <p>管理者が許可をするのをお待ち下さい。</p>
    </div>
  </body>
</html>
