{% extends "base.html" %}

{% block title %}備品管理システム{% endblock %}
{% block content %}
    {% if request_list %}
        <form action="{% url 'system:vote' %}" method="post">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th></th>
                    <th>備品名</th>
                    <th>AmazonURL</th>
                </tr>
                {% for request_item in request_list %}
                    <tr>
                        {% if request_item.vote %}
                            <th>
                                <button type="submit" name="request_id" value="{{ request_item.id }}">投票</button>
                            </th>
                        {% else %}
                            <th>
                                投票済み
                            </th>
                        {% endif %}

                        <th>{{ request_item.request_name }}</th>
                        <th>{{ request_item.url }}</th>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% else %}
        <p>No data</p>
    {% endif %}
    <h3>新規追加</h3>

    <form method="post">
        <p>
            <label for="amazon_url">AmazonURL: <input type="text" required></label>
        </p>

        <p>
            <label for="speak">一言: <input type="text"></label>
        </p>
    </form>

{% endblock %}