{% extends "base.html" %}

{% block title %}備品管理システム{% endblock %}
{% block moreStyle %}
<style type="text/css">
  th{
    padding: 5px;
    margin: 5px;
  }
  td{
    padding: 3px;
    margin: 5px;
  }
</style>
{% endblock %}
{% block content %}
  {% if equipment_list %}
  <h1>貸出備品一覧: {{ username }}</h1>

  <!-- test search form -->
  <form method="post" action="/system/">
    {% csrf_token %}
    <input type="text" placeholder="search">
    <input type="button" value="submit">
  </form><br>
  <!-- end test search form -->

  <!-- main content -->

  <table>
    <tr>
      <th>貸出ボタン</th>
      <th>名前</th>
      <th>貸出回数</th>
      <th>予約数</th>
      <th>借りてる人</th>
    </tr>
    {% for equipment in equipment_list %}
    <tr>
      <td>
        <form method="post" action="{{ equipment.button.url }}">
          {% csrf_token %}
          <button name="equipment_name" value="{{ equipment.equipment_name }}">{{ equipment.button }}</button>
        </form>
        {# {% endif %} #}
      </td>
      <td>{{ equipment.equipment_name}}</td>
      <td>{{ equipment.Lend_count }}</td>
      <td>{{ equipment.reserved_num }}</td>
      <td>{{ equipment.borrower }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>no equipment_list</p>
  {% endif %}
  <!-- end main content -->

{% endblock %}
