{% extends "base.html" %}

{% block title %}備品管理システム{% endblock %}
{% block moreStyle %}
<style type="text/css">
  th{
    padding: 5px;
    margin: 5px;
  }
  td{
    padding: 3px;
    margin: 5px;
  }
</style>
{% endblock %}
{% block content %}
  {% if equipment_list %}
  {% block pagetitle %}貸出備品一覧: {{ username }}{% endblock %}
  {% include "search.html" %}
  <!-- main content -->

  <table>
    <tr>
      <th>貸出ボタン</th>
      <th>名前</th>
      <th>貸出回数</th>
      <th>予約数</th>
      <th>借りてる人</th>
    </tr>
    {% for equipment in equipment_list %}
    <tr>
      <td>
        <form method="post" action="{{ equipment.button.url }}">
          {% csrf_token %}
          <button name="equipment_id" value="{{ equipment.id }}">{{ equipment.button }}</button>
        </form>
      </td>
      <td>{{ equipment.equipment_name}}</td>
      <td>{{ equipment.Lend_count }}</td>
      <td>{{ equipment.reserved_num }}</td>
      <td>{{ equipment.borrower }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>no equipment_list</p>
  {% endif %}
  <!-- end main content -->

{% endblock %}
{% block moreScript %}
<script>
$("#search_btn").click(function() {
  // 多重送信を防ぐため通信完了までボタンをdisableにする
  var button = $(this);
  button.attr("disabled", true);
  // 通信実行
  $.ajax({
    type:"GET",                // method = "POST"
    url: "/system/search/",        // POST送信先のURL
    data: { keyword: $("#keyword").val()},  // JSONデータ本体
    contentType: 'text/plain', // リクエストの Content-Type
    dataType: "json",           // レスポンスをJSONとしてパースする
    success: function(json_data) {   // 200 OK時
      alert(json_data[0].fields.equipment_name);
      $("#list").html("");
      for(var i=0;i<5;i++){
        $("#list").append(json_data[i].fields.equipment_name);
        $("#list").append("<br>");
      }
    },
    error: function() {         // HTTPエラー時
      alert("Server Error. Pleasy try again later.");
    },
    complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
      button.attr("disabled", false);  // ボタンを再び enableにする
    }
  });
});

jQuery(document).ajaxSend(function(event, xhr, settings) {
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  function sameOrigin(url) {
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
      (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
      // or any other URL that isn't scheme relative or absolute i.e relative.
      !(/^(\/\/|http:|https:).*/.test(url));
  }
  function safeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
  }
});
</script>
{% endblock %}
