<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include "head.html" %}
    <title>{% block title %}XMLPro備品管理システム{% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/login" class="brand-logo">備品管理システム</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="btn indigo lighten-1" href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <form class="col s12 m6 offset-m3" method="post" action="{% url 'system:user_register' %}">
        {% csrf_token %}
        <div class="card">
          <div class="row">
            {% for form in register_forms %}
            <div class="input-field col s12">
              {{ form.label_tag }}
              {{ form }}
            </div>
            {% endfor %}
          </div>
        </div>

        <input class="btn indigo lighten-1 right right" type="submit" value="register"/>
      </form>
    </div>
  </body>
</html>
